h1 {
    font-size: 3rem;
    background-color: coral;
}
body {
    background-color: beige;
}
.btn-primary {
    background-color: aqua;
    color: black;
    font-weight: bolder;
}
.btn-primary:hover {
    background-color: rgb(6, 255, 6);
    color: rgb(255, 0, 13);
}
.row {
    justify-content: space-around;
}
.card {
    background-color: aquamarine;
}
.color_nav {
    background-color: rgb(8, 185, 197);
}